@import "tailwindcss";

:root {
  --font-sans: var(--font-archivo);
  --text-default-color: #AAAAAA;

  --primary-color: #ED5735;

  --body-bg-color: #F7F8F9;
  --body-text-color: var(--text-default-color);

  --card-bg-color: #FFFFFF;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font-sans), sans-serif;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

.layout {
  display: grid;
  grid-template-columns: minmax(40px, 370px) 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "logo header" "aside main";
  align-items: start;
  gap: 1.5rem;
  height: 100dvh;
  padding: 1.5rem;


  .logo {
    grid-area: logo;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  aside {
    grid-area: aside;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
  }

  header {
    grid-area: header;
    height: 100%;
    display: flex;
    align-items: center;
  }

  main {
    grid-area: main;
    height: 100%;
  }
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 18px;
  padding: 1.5rem;
} 

